# Core
Django==4.2.11
djangorestframework==3.15.1
django-htmx==1.15.0

# SNMP stack
pysnmp==4.4.12
pyasn1==0.4.8
# pysnmp-mibs==1.0.5

# Celery stack
celery==5.3.6
django-celery-results==2.5.1
redis==5.0.3

# Task scheduler
django-celery-beat==2.6.0

# For async ping (optional, if used)
ping3==4.0.4

# Tailwind (via Django)
django-browser-reload==1.12.0
django-tailwind==3.5.0

# Excel Export
openpyxl==3.1.2

# Chart rendering (frontend only)
# Chart.js via CDN, no pip install needed

# Dev & Debug
ipython==8.22.2
