pipfreeze==2.0.3
django ==4.2.6
asgiref ==3.7.2
typing-extensions ==4.8.0
sqlparse ==0.4.4
django-compat ==1.0.15
six ==1.16.0
django4-background-tasks ==1.2.5
pipfreeze ==2.0.3
pysnmp ==4.4.12
pyasn1 ==0.4.8
pycryptodomex ==3.19.0
pysmi ==0.3.4
ply ==3.11
ping3
psycopg2
django-simple-history