{% extends 'index.html' %}

{% block title %}OLT List{% endblock %}

{% block content %}
  <div class="p-8">
    <h2 class="text-2xl">OLT List</h2>
    <a href="{% url 'olt_create' %}" class="btn btn-primary">Create OLT</a>

    <table class="table">
      <thead>
        <tr>
          <th>Vendor</th>
          <th>Model</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for olt in olts %}
          <tr>
            <td>{{ olt.vendor.name }}</td>
            <td>{{ olt.device_model }}</td>
            <td>
              <a href="{% url 'olt_detail' olt.pk %}" class="btn btn-info">Details</a>
              <a href="{% url 'olt_update' olt.pk %}" class="btn btn-warning">Edit</a>
              <a href="{% url 'olt_delete' olt.pk %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
