{% extends "index.html" %}
{% load static %}
{% block title %}Switch List{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    function updateSwitchStatus(switchId) {
      $.ajax({
        url: `/snmp/switches/switch_status/${switchId}/`,
        method: 'GET',
        dataType: 'json',
        success: function (data) {
          const switchStatusElement = $("#switch-status-" + switchId);
          switchStatusElement.text(data.status);

          if (data.status === 'UP') {
            switchStatusElement.removeClass('bg-red-600 text-neutral-950 animate-pulse').addClass('bg-green-600 text-white');
          } else {
            switchStatusElement.removeClass('bg-green-600 text-white').addClass('bg-red-600 text-neutral-950 animate-pulse');
          }
        },
        error: function (error) {
          console.error('Error updating switch status:', error);
        }
      });
    }

    // Set up an interval to update switch statuses every 3000 milliseconds (3 seconds)
    setInterval(function () {
      {% for switch in down_switches %}
        updateSwitchStatus('{{ switch.pk }}');
      {% endfor %}
    }, 3000);  // Adjust the interval as needed

  });
</script>
  <!-- <form method="get" class="md:flex place-content-end">
    <div class="form-group px-2 mb-2 md:mb-0">
      <input type="text" name="search" id="search" value="{{ request.GET.search }}" class="shadow-sm placeholder:italic placeholder:text-neutral-200 block rounded-md px-2 py-2 font-bold text-center inline-flex items-center text-xs text-white bg-gray-400 hover:bg-gray-600 text-sky-primary invalid:text-gray-400 form-control" placeholder="search query">
      <button type="submit" class="shadow-md shadow-blue-900 rounded-md px-2 py-2 font-medium text-center inline-flex items-center text-xs text-white bg-blue-500 hover:bg-sky-800 focus:ring-2 focus:outline-none focus:ring-cyan-300 md:dark:focus:ring-cyan-800">Search</button>
    </div>
  </form>
</div> -->

<div class="bg-white dark:bg-neutral-800 p-2 rounded-lg shadow-md overflow-x-auto">
  <table class="w-full text-xs text-left text-neutral-500 dark:text-neutral-400">
    <thead class='uppercase'>
      <tr class="text-xs font-sans text-center whitespace-nowrap bg-neutral-600 text-white dark:text-neutral-300">
          <th class="border px-2 py-1">
              <div class="flex-1 items-center">
                <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="checkbox-all-search" class="sr-only">Select</label>
              </div>
          </th>
          <th class="border px-2 py-1">ID</th>
          <th class="border px-2 py-1">Status</th>        
          <th class="border px-2 py-1">Vendor</th>
          <th class="border px-2 py-1">Model</th>
          <th class="border px-2 py-1">Hostname</th>
          <th class="border px-2 py-1">IP</th>        
          <th class="border px-2 py-1">Uptime</th>
          <th class="border px-2 py-1">Last update</th>
          <th class="border px-2 py-1">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for switch in down_switches %}
        
        <tr class="text-sm font-sans text-center whitespace-nowrap hover:bg-neutral-400 dark:hover:bg-neutral-600">
          <td class="border px-2 py-1">
              <div>
                <input name="switches-ch" value="{{ switch.id }}" id="checkbox-table-search-{{ switch.id }}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
              </div>
          </td>
          <td class="border px-2 py-1">
          {{ switch.pk }}
          </td>
          <td class="text-center border font-medium {% if switch.status %}text-green-600 bg-green-100{% else %}text-red-600 bg-red-100{% endif %}">
            {% if switch.status %}UP{% else %}DOWN{% endif %}
          </td>      
          <td class="border px-2 py-1">
            {{ switch.model.vendor.name }}</a>
          </td>
          <td class="border px-2 py-1">
            {{ switch.model.device_model }}</a>
          </td>        
          <td class="text-neutral-950 dark:text-neutral-200 border px-2 py-1">
            {{ switch.hostname }}</a>
            {% if switch.rx_signal <= -11 %}
              <button class="px-2 py-1 font-medium text-center inline-flex items-center text-xs text-white bg-red-600 animate-pulse">{{ switch.rx_signal }}</button>
            {% endif %}
          </td>        
          <td class="border px-2 py-1">
            {{ switch.ip }}</a>
          </td>
          <td class="border px-2 py-1">
            {{ switch.uptime }}
          </td>
          <td class="border px-2 py-1">
            {{ switch.last_update }}</a>
          </td>
          
          <td class="border px-2 py-1">
            <div class="flex justify-center space-x-2">
              <a href="{% url 'switch_detail' switch.pk %}" class="btn btn-info text-blue-600">
                Details
              </a>
              {% if perms.snmp.change_switch %}
              {% if switch.status %}
              <a href="{% url 'switch_update' switch.pk %}" class="btn btn-warning">
                Edit
              </a>
              {% endif %}
              <a href="{% url 'switch_confirm_delete' switch.pk %}" class="btn btn-danger text-red-600">
                Delete
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="pagination flex justify-center p-2">
    <nav aria-label="Page navigation example">
      <ul class="sm:inline-flex -space-x-px text-sm">
        {% if down_switches.has_previous %}
        <li>
          <a href="?page=1&search={{ request.GET.search }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">First</a>
        </li>
        <li>
          <a href="?page={{ down_switches.previous_page_number }}&search={{ request.GET.search }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
        </li>
        {% endif %}
        <li>
          <a href="?page={{ down_switches.number }}&search={{ request.GET.search }}" class="{% if down_switches.number == down_switches.paginator.num_pages %} rounded-e-lg {% endif %} {% if down_switches.number == 1 %} rounded-s-lg {% endif %} flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ down_switches.number }}</a>
        </li>
        {% if down_switches.has_next %}
        <li>
          <a href="?page={{ down_switches.next_page_number }}&search={{ request.GET.search }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
        </li>
        <li>
          <a href="?page={{ down_switches.paginator.num_pages }}&search={{ request.GET.search }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Last</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>

{% endblock %}
