{% extends 'index.html' %}

{% block title %}Switch Details{% endblock %}

{% block content %}
  <div class="bg-white dark:bg-neutral-800 p-4 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-neutral-900 dark:text-white mb-4">Switch Details</h2>

    <!-- General Switch Information Table -->
    <table class="w-full text-xs text-center text-neutral-500 dark:text-neutral-400 mb-4">
      <thead class="text-xs uppercase">
        <tr class="bg-neutral-600 text-white dark:text-neutral-300">
          <th class="border px-2 py-1">ID</th>
          <th class="border px-2 py-1">Status</th>        
          <th class="border px-2 py-1">Vendor</th>
          <th class="border px-2 py-1">Model</th>
          <th class="border px-2 py-1">Hostname</th>
          <th class="border px-2 py-1">IP</th>        
          <th class="border px-2 py-1">Uptime</th>
          <th class="border px-2 py-1">Serial Number</th>
          <th class="border px-2 py-1">Mac</th>
          <th class="border px-2 py-1">Last Update</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-neutral-300 dark:border-b-2 border-gray-100 text-black dark:text-neutral-200 bg-neutral-200 dark:bg-neutral-800 dark:border-neutral-700">
          <td class="border px-2 py-1">{{ switch.pk }}</td>
          <td class="text-center border-1 font-medium {% if switch.status %}text-green-600 bg-green-100{% else %}text-red-600 bg-red-100{% endif %}">
            {% if switch.status %}UP{% else %}DOWN{% endif %}
          </td>        
          <td class="border px-2 py-1">{{ switch.model.vendor.name }}</a></td>
          <td class="border px-2 py-1">{{ switch.model.device_model }}</a></td>        
          <td class="border px-2 py-1">{{ switch.hostname }}</a></td>        
          <td class="border px-2 py-1">{{ switch.ip }}</a></td>
          <td class="border px-2 py-1">{{ switch.uptime }}</td>
          <td class="border px-2 py-1">{{ switch.serial_number | default:"N/A" }}</td>
          <td class="border px-2 py-1">{{ switch.mac | default:"N/A" }}</td>
          <td class="border px-2 py-1">{{ switch.last_update }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Switch Ports Information Table -->
    <table class="w-full text-xs text-center text-neutral-500 dark:text-neutral-400 mb-4">
      <thead class="text-xs uppercase">
        <tr class="bg-neutral-600 text-white dark:text-neutral-300">
          <th class="border px-2 py-1">Port Name</th>
          <th class="border px-2 py-1">Port</th>
          <th class="border px-2 py-1">Port Speed</th>
          <th class="border px-2 py-1">Description</th>
          <th class="border px-2 py-1">SFP Vendor Name</th>
          <th class="border px-2 py-1">SFP Part Number</th>
          <th class="border px-2 py-1">Rx Signal Value</th>
          <th class="border px-2 py-1">Tx Signal Value</th>
        </tr>
      </thead>
      <tbody>

          <tr class="border-b border-neutral-300 dark:border-b-2 border-gray-100 text-black dark:text-neutral-200 bg-neutral-200 dark:bg-neutral-800 dark:border-neutral-700">
            <td class="border px-2 py-1">{{ switch.switch_ports_reverse.name | default:"N/A" }}</td>
            <td class="border px-2 py-1">{{ switch.switch_ports_reverse.port | default:"N/A" }}</td>
            <td class="border px-2 py-1">{{ switch.switch_ports_reverse.speed | default:"N/A"  }}</td>
            <td class="border px-2 py-1">{{ switch.switch_ports_reverse.description | default:"N/A"  }}</td>
            <td class="border px-2 py-1">{{ switch.switch_ports_reverse.sfp_vendor | default:"N/A" }}</td>
            <td class="border px-2 py-1">{{ switch.switch_ports_reverse.part_number | default:"N/A" }}</td>
            <td class="border px-2 py-1">{{ switch.switch_ports_reverse.rx_signal | default:"N/A" }}</td>
            <td class="border px-2 py-1">{{ switch.switch_ports_reverse.tx_signal | default:"N/A" }}</td>
          </tr>

      </tbody>
    </table>

    <!-- Action Buttons -->
    <div class="mt-4 space-x-2">
      <a href="{% url 'switch_update' switch.pk %}" class="btn-edit">
        Edit
      </a>
      
      <a href="{% url 'switch_delete' switch.pk %}" class="btn-delete">
        Delete
      </a>
      
      <a href="{% url 'switches' %}" class="btn-back">
        Back to List
      </a>
    </div>
  </div>
{% endblock %}
