{% load compress %}
{% load static %}
<!doctype html>
<html>
<head>
  {% comment %}{% tailwind_css %}{% endcomment %}

  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/gojs@2.3.11/release/go.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<script>
  function updateSwitchStatus() {
    $.ajax({
      url: `/snmp/switches00/switch_status/${switchId}/`,
      method: 'GET',
      dataType: 'json',
      success: function(data) {
        // Update the status in the DOM
        const switchStatusElement = $("#switch-status-{{ switch.pk }}");
        switchStatusElement.text(data.status);

        // You can customize the styling based on the status (UP or DOWN)
        if (data.status === 'UP') {
          switchStatusElement.removeClass('text-red-600').addClass('text-green-600');
        } else {
          switchStatusElement.removeClass('text-green-600').addClass('text-red-600');
        }
      },
      error: function(error) {
        console.error('Error updating switch status:', error);
      }
    });
  }

  $(document).ready(function() {
    updateSwitchStatus();

    setInterval(function() {
      updateSwitchStatus();
    }, 3000);
  });
</script>
  
</head>
  <body class="text-neutral-900 dark:text-neutral-300 bg-neutral-200 dark:bg-neutral-800">
  {% if user.is_authenticated %}
      {% include 'navbar.html' %}
      <!-- <div class="rounded-lg shadow-md"> -->
        {% block content %}
        {% endblock %}
      </div>

  {% else %}

      {% include 'login_page.html' %}

  {% endif %}
  </body>
</html>