<nav class="bg-sky-900 dark:bg-neutral-900">
  <div class="mx-auto max-w-8xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex px-2 py-2 h-10 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex items-center text-neutral-800 dark:text-neutral-200">
          <a href="{% url 'switches' %}" class="flex font-bold font-sans items-center text-2xl text-neutral-200">
            SNMP 2.0
          </a>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-2">
            <a href="{% url 'switches' %}" class="shadow-md shadow-gray-900 text-neutral-200 rounded-md px-2 py-2 font-medium text-center inline-flex items-center text-xs text-white bg-sky-600 dark:bg-blue-600 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800">SWITCHES</a>
          </div>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-2">
            <a href="{% url 'offline' %}" class="shadow-md shadow-gray-900 text-neutral-200 rounded-md px-2 py-2 font-medium text-center inline-flex items-center text-xs text-white bg-rose-600 dark:bg-red-600 hover:bg-rose-800 focus:ring-2 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800">Offline switches</a>
          </div>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-2">
            <a href="{% url 'dashboard' %}" class="shadow-md shadow-gray-900 text-neutral-200 rounded-md px-2 py-2 font-medium text-center inline-flex items-center text-xs text-white bg-sky-600 dark:bg-blue-600 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800">Dashboard</a>
          </div>
        </div>
      </div>
      <div class="absolute text-sm font-serif text-neutral-200 inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button class="rounded-md border-0 px-4 py-1 bg-neutral-200 text-black">
          {{ user.get_full_name }}
        </button>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <a href="{% url 'logout' %}" class="shadow-md shadow-gray-900 rounded-md px-2 py-2 font-medium text-center inline-flex items-center text-xs text-white bg-red-600 hover:bg-red-800 focus:ring-2 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800">
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="flex flex-col md:flex-row justify-between">
  <div class="md:px-2 mb-2">
    {% if perms.snmp.change_switch %}
    <a href="{% url 'switch_create' %}" class="shadow-md shadow-emerald-900 rounded-md px-2 py-2 font-medium text-center inline-flex items-center text-xs text-white bg-emerald-600 hover:bg-emerald-800 focus:ring-2 focus:outline-none focus:ring-cyan-300 md:dark:focus:ring-cyan-800">
      Create New Switch
    </a>
    {% endif %}
  </div>
  
  <form method="get" class="md:flex">
    <div class="form-group px-2 mb-2 md:mb-0">
      <input type="text" name="search" id="search" value="{{ request.GET.search }}" class="shadow-sm placeholder:italic placeholder:text-neutral-200 block rounded-md px-2 py-2 font-bold text-center inline-flex items-center text-xs text-white bg-gray-400 hover:bg-gray-600 text-sky-primary invalid:text-gray-400 form-control" placeholder="search query">
      <button type="submit" class="shadow-md shadow-blue-900 rounded-md px-2 py-2 font-medium text-center inline-flex items-center text-xs text-white bg-blue-500 hover:bg-sky-800 focus:ring-2 focus:outline-none focus:ring-cyan-300 md:dark:focus:ring-cyan-800">Search</button>
    </div>
  </form>
</div>