<nav class="bg-sky-600 dark:bg-neutral-900">
  <div class="mx-auto max-w-8xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex px-2 py-2 h-10 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex items-center text-neutral-800 dark:text-neutral-200">
          <a href="" class="flex items-center text-2xl font-bold text-neutral-200">
            SNMP 2.0
          </a>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a href="{% url 'switches' %}" class="rounded-md px-2 py-2 font-medium text-center inline-flex items-center text-xs text-white bg-blue-600 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 {% if request.path == '/switches/' %}active{% endif %}">SWITCHES</a>
            <a href="{% url 'olts' %}" class="rounded-md px-2 py-2 font-medium text-center inline-flex items-center text-xs text-white bg-orange-600 hover:bg-orange-800 focus:ring-2 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 {% if request.path == '/olts/' %}active{% endif %}">OLT's</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <a href="{% url 'logout' %}" class="rounded-md px-2 py-2 font-medium text-center inline-flex items-center text-xs text-white bg-red-600 hover:bg-red-800 focus:ring-2 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800">
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>
